<div ng-hide="quizDone" class="quiz-applet">
  <form>
    <h4>{{quiz[currentQuestion].question}}</h4>
    <div class="choices" ng-repeat="response in quiz[currentQuestion].choices">
      <input type="radio" ng-model="$parent.choice[currentQuestion]" ng-value="response" /> {{response}} <br/>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <button ng-disabled="currentQuestion == 0" ng-click="previous()">Previous</button>
      </div>
      <div class="col-xs-4">
        <button ng-show="quizAnswered" ng-click="submitQuiz()">Submit</button>
      </div>
      {{checkQuiz()}}
      <div class="col-xs-4">
        <button ng-disabled="currentQuestion == quiz.length-1" ng-click="next()">
        Next
        </button>
      </div>
    </div>
  </form>
  <p>Current answer: {{choice[currentQuestion]}} </p>
  <p>Answers for entire quiz: {{choice | json}} </p>
</div>
<div ng-show="quizDone">
  <div ng-repeat="answer in choice track by $index">
    <p>Question {{$index + 1}}:
    <span ng-show="choice[$index] == quiz[$index].answer">correct</span>
    <span ng-hide="choice[$index] == quiz[$index].answer">incorrect, Correct Answer: {{quiz[$index].answer}}</span>
    </p>
  </div>
  <center>
  <button ng-click="retryQuiz()">Retry Quiz</button>
  </center>
</div>